body{
    background-color: #282A36;
    display: flex;
}
.main{
    color: whitesmoke;      
    text-align: center;
    padding-left: 800px;
    
}

.img{
    height: 50px;
    width: 50px;
    padding-top: 50px;
}
.hehim{
    height: 10px;
    
}
.header_{
padding-top: 1%;
padding-bottom: 500px;
color: black;

}



.bckg{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .bckg{
        width: 100%;
        height: auto;

    }

}

@media (max-aspect-ratio: 16/9){
    .bckg{
        width: auto;
        height: 100%;

    }

}
